.sidebar-wrapper{
    max-width: 255px;
    min-width: 255px;
    width: 255px;
    height: 100%;
    background-color: #0C142A;
}

.sidebar-wrapper a{
    text-decoration: none;
    color:inherit;
}

.sidebar-wrapper li{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start
}

.sidebar-wrapper .head{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.sidebar-wrapper .head p{
    font-size: 20px;
    font-weight: bold;
    color:#fff;
}

.sidebar-wrapper .title{
    color:#666e81;
    font-size: 16px;
    font-weight: 500;
    padding-left:27px;
    height: 45px;
    
}

.sidebar-wrapper .option{
    color:#dadada;
    width: 100%;
    height: 45px;
    padding-left: 27px;
    transition: all .2s;
}

.option span{
    padding-left: 10px;
    font-weight: 500;
    font-size: 15px;
}

.nav-options .option:hover{
    cursor: pointer;
    background-color:#080B1B ;
    border-left: 4px solid #fff;
}

.nav-options .active .option{
    background-color:#080B1B ;
    border-left: 4px solid #fff;
}