@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  word-break: break-all;
}

body, html, .app, #root{
  height: 100%;
  width: 100%;
  background-color: #EAEEF2;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container-inner{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.main-wrapper{
  flex:1;
  padding:32px 42px 0px;
  /* height: 700px; */
  overflow: auto;
}

.main-wrapper .head-wrapper .title{
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 28px rgb(0 0 0 / 8%);
  box-shadow: 0 0 28px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
  padding: 20px;
}

.main-wrapper .title{
  font-size: 24px;
  font-weight: 500;
  color:#1b3133;
  padding-bottom: 20px;
}

.blank-wrapper{
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 28px rgb(0 0 0 / 8%);
  box-shadow: 0 0 28px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
  padding: 20px;
}

 table{
  width: 100%;
  border-spacing: 0;
  margin-bottom: 15px;
  margin-top:40px;
}

 table th,
 table td{
  padding:10px 10px;
  border: 1px solid #e2e2e2;
}

 thead th div{
  text-align: left;
  font-size:15px ;
  color:#1C212E;
  font-weight: 500;
  display:flex;
  align-items: center;

}

 table tbody td a {
  display: flex;
  align-items: center;
  color: #0070C9;
  transition: all .2s;
}

 table .status{
  padding:5px 10px;
  color:rgba(0,0,0,0.6);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width:100%;
}

.pagination{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

.pagination .pages-controller {
  display: flex;
  justify-content: flex-end;
}

.pagination .pages-controller button {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.pagination .pages-controller button:hover{
  background-color: #e2e2e2;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed!important;
}

table .status.blue{
  background-color: #f6fcff;
  color:#036aa4;
}

table .status.purple{
  background-color: #fdf9ff;
  color:#9a38c8;
}

table .status.orange{
  background-color: #fff8f2;
  color:#c56612;
}

table .status.red{
  background-color: #fff8f8;
  color:#c70000;
}

table .status.green{
  background-color: #f4fff7;
  color:#009621;
}

.view-btn{
  color:#036aa4;
}

.detail-wrapper{
  padding:20px;
}

.detail-wrapper p{
  margin-bottom: 10px;
  font-size: 18px;
}

.data-schema-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data-schema-wrapper .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

.data-schema-wrapper .row.gary{
  background-color: #f2f2f2;
}

.data-schema-wrapper .row .data{
  flex:1;
}

.search-form{
  display:flex;
  flex-direction: row;
}

.search-form .search-input{
  flex:.9;
  margin-right: 10px;
}
.search-form .btn-wrapper{
  flex:.1;
  margin-top:16px;
  margin-bottom: 8px;
}

.search-form .btn{
  cursor: pointer;
  background-color: #0070C9;
  border-radius: 6px;
  color:#fff;
  font-size: 16px;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-form .btn:hover{
  background-color: #0064b4;
}



.status-text.yellow{
  color: #FFB22B;
}

.status-text.green{
  color: #009621;
}


.status-text.red{
  color: #DD7D91;
}

.mb-2{
  margin-bottom: 20px;
}